<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>



 
<body>
     <div class="box">
    {{>navbar}}
    <div>
        <h1>Home</h1>
        <h1>Welcome to home page you are logged in successfully</h1>
    </div>
    </div>
    
</body>
</html>

 